 <!doctype html>
    <html ng-app >
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      </head>
      <body>
        <div>
          <label>Name:</label>
          <input type="text" ng-model="yourName" placeholder="Enter a name here">
           <h1>Hello {{yourName}}!</h1>
          <hr>
          <label>Expression:</label>
          <input type="text"ng-model="yourexp" placeholder="Expression" >
          <hr>
         

          <h2>I am saying {{yourexp}}! </h2>
        </div>
      </body>
    </html>

